<!DOCTYPE html>
<html>
  <head>
    <title>{{ pagetitle|default('Deckbuilder') }} &middot; NetrunnerDB</title>
    <link rel="icon" sizes="16x16" href="/favicon.png" />
    <link rel="icon" sizes="196x196" href="/icon.png" />
    <link rel="apple-touch-icon" sizes="129x129" href="/apple-touch-icon.png" />
    {% if app.request.locale != "en" and app.request.attributes.get('_route') != "" %}
    {% set _route_params = app.request.attributes.get('_route_params')|default({}) %}
    {% set _get_params = app.request.query.all()|default({}) %}
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), _route_params|merge(_get_params)|merge({'_locale': 'en'})) }}"/>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:image" content="{% if pageimage is defined and pageimage %}{{ pageimage }}{% else %}https://netrunnerdb.com/icon.png{% endif %}" />
    {% if pagedescription is defined %}<meta name="description" content="{{ pagedescription }}">{% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/latofonts.css') }}">
    <link rel="stylesheet" href="{{ asset('/netrunnerfont.css') }}">

    <script src="{{ asset('/bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData","version": asset_version('')}) }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lie/3.3.0/lie.polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/typeahead.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.0.0/highcharts.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.5/jquery.textcomplete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/forerunnerdb/1.4.68/fdb-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.3/localforage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>
    <script src="{{ asset('/lib/bootstrap-toggle-checklist.js') }}"></script>
    <script src="{{ asset('/lib/jquery-persistence.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#000"
            },
            "button": {
              "background": "#f1d600"
            }
          }
        })});
    </script>
    <script type="text/javascript">
      var NRDB = {
        card_image_url: '{{ card_image_url }}',
        data_loaded: $.Callbacks(),
        api_url: {
          cycles: '{{ path('api_public_cycles')|raw }}',
          packs: '{{ path('api_public_packs')|raw }}',
          cards: '{{ path('api_public_cards')|raw }}',
          factions: '{{ path('api_public_factions')|raw }}',
          types: '{{ path('api_public_types')|raw }}',
          sides: '{{ path('api_public_sides')|raw }}',
          mwl: '{{ path('api_public_mwl')|raw }}'
        },
        locale: '{{ app.request.locale }}'
      };
      moment.locale(window.navigator.language);
      const v3_api_url = '{{ v3_api_url }}';
      const loading_icon = '<p class="temp-loading text-center"><span class="loading-icon"><span class="loading-icon-red"></span><span class="loading-icon-blue"></span><span class="loading-icon-overlap"></span></span>Loading...</p>';
    </script>
    {% if app.environment == 'prod' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131671930-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131671930-1');
    </script>
    {% endif %}
    <script src="{{ asset('/js/nrdb.js') }}"></script>
    <script src="{{ asset('/js/nrdb.user.js') }}"></script>
    <script src="{{ asset('/js/nrdb.data.js') }}"></script>
    <script src="{{ asset('/js/nrdb.format.js') }}"></script>
    <script src="{{ asset('/js/nrdb.tip.js') }}"></script>
    <script src="{{ asset('/js/nrdb.ui.js') }}"></script>
    <script src="{{ asset('/js/topnav.js') }}"></script>

    {% block head %}{% endblock %}

  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          {% block navbar %}
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('netrunnerdb_index') }}">
              <span class="icon icon-link-half-top"></span>
              <span class="icon icon-link-half-bottom"></span>
              NetrunnerDB
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ path('decks_list') }}">My Decks</a></li>
              <li><a href="{{ path('decklists_list', {type:'popular'}) }}">Decklists</a></li>
              <li><a href="{{ path('cards_sets') }}">Sets</a></li>
              <li class="hidden-sm dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Factions <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">Runner</li>
                  <li><a href="{{ path('faction_page',{faction_code:'anarch'}) }}"><span class="icon icon-anarch influence-anarch"></span> Anarch</a></li>
                  <li><a href="{{ path('faction_page',{faction_code:'criminal'}) }}"><span class="icon icon-criminal influence-criminal"></span> Criminal</a></li>
                  <li><a href="{{ path('faction_page',{faction_code:'shaper'}) }}"><span class="icon icon-shaper influence-shaper"></span> Shaper</a></li>
                  <li><a href="{{ path('faction_page',{faction_code:'mini-factions'}) }}"><span style="padding-left:16px">Mini-factions</span></a></li>
                  <li class="divider"></li>
                  <li role="presentation" class="dropdown-header">Corp</li>
                  <li><a href="{{ path('faction_page',{faction_code:'haas-bioroid'}) }}"><span class="icon icon-haas-bioroid influence-haas-bioroid"></span> Haas-Bioroid</a></li>
                  <li><a href="{{ path('faction_page',{faction_code:'jinteki'}) }}"><span class="icon icon-jinteki influence-jinteki"></span> Jinteki</a></li>
                  <li><a href="{{ path('faction_page',{faction_code:'nbn'}) }}"><span class="icon icon-nbn influence-nbn"></span> NBN</a></li>
                  <li><a href="{{ path('faction_page',{faction_code:'weyland-consortium'}) }}"><span class="icon icon-weyland-consortium influence-weyland-consortium"></span> Weyland Consortium</a></li>
                </ul>
              </li>
              <li class="hidden-sm dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="hidden-sm"><a href="{{ path('formats') }}">Play Formats</a></li>
                  <li class="hidden-sm"><a href="{{ path('banlists') }}">Ban Lists</a></li>
                  <li class="hidden-sm"><a href="{{ path('rotation') }}">Rotation</a></li>
                  <li class="hidden-sm"><a href="{{ path('card_reviews_list') }}">Reviews</a></li>
                  <li><a href="{{ path('card_rulings') }}">Rulings</a></li>
                  <li class="hidden-sm"><a href="{{ path('illustrators') }}">Illustrators</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="top_nav_card_search_menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Card Search&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></a>
                <div class="dropdown-menu" id="miney">
                  <form id="top_nav_card_search_form" method="get" action="{{ path('cards_find') }}">
                    <input type="text" placeholder="Card Search" class="form-control" name="q" id="top_nav_card_search" title="{% include '/Search/searchtooltip.html.twig' %}">
                  </form>
                </div>
              </li>
              <li><a href="{{ path('search_syntax') }}">Syntax</a></li>
              <li><a href="{{ path('advanced_search') }}">Advanced</a></li>
              <li id="login">
                <a href="#" class="dropdown-toggle loginname" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
              </li>
            </ul>
          </div><!--/.navbar-collapse -->
          {% endblock %}
        </div>
      </nav>

      <div class="container">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
        {% endfor %}
      </div>

      {% block body %}{% endblock %}
      <div id="push"></div>
    </div>
    <footer class="hidden-print">
      <div class="container">

        {% block footer %}
        <div class="row">
          <div class="col-xs-12">

            <ul class="list-inline pull-right">
              {% set _route = app.request.attributes.get('_route') %}
              {% set _route_params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
              {% for supported_locale in supported_locales %}
              <li>
                <a href="{{ path(_route, _route_params|merge({'_locale': supported_locale})) }}">
                  <img data-src="{{ asset('/images/flags/32px/flag_' ~ supported_locale ~ '.png') }}" style="height:19px" class="lazyload">
                </a>
              </li>
              {% endfor %}
            </ul>

            <ul class="list-inline">
              <li><a href="{{ path('cards_about') }}">About</a></li>
              <li><a href="{{ path('api_doc') }}">API</a></li>
              <li><a href="{{ path('tools_demo') }}">Integration</a></li>
              <li><a href="{{ path('donators') }}">Donators</a> <span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span></li>
              <li><a href="javascript:localStorage.clear(); NRDB.data.update();">Clear data</a></li>
            </ul>

            <p>
              Designed and built by <a href="//twitter.com/alsciende">@alsciende</a>. Maintained by <a href="http://nullsignal.games/">Null Signal Games</a>.
            </p>

            <p>
              Please post bug reports and feature requests on <a href="https://github.com/netrunnerdb/netrunnerdb">Github</a>
            </p>

            <p>
              You may contribute by giving money on <a href="https://paypal.me/niseiproject">Paypal</a>. (Please add a note with your username so that we can add you to the <a href="{{ path('donators') }}">Donators</a> list.)
            </p>
            <p>
              Alternatively, you can check out the Null Signal Games <a href="https://www.patreon.com/join/NullSignalGames">Patreon</a>.
              <a href="https://www.patreon.com/join/NullSignalGames" class="patreon-button"><img src=" {{ asset('/become_a_patron_button.png') }} " height="40" alt="Become a Patron of Null Signal Games!"/></a>
			</ul>

            </p>

            <p style="color: var(--nrdb-color--text);">
              The information presented on this site about Android: Netrunner, both literal and graphical, is copyrighted by Fantasy Flight Games and/or Null Signal Games.
            </p>
            <p style="color: var(--nrdb-color--text);">
              This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games.
            </p>

            <svg width="0" height="0" viewBox="0 0 677 601" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="nrdb_svg_hex">
              <defs>
              <symbol id="hex"><polygon points="623,302.91412353515625 480,550.5973510742188 194,550.5973510742188 51,302.91412353515625 194,55.23085021972656 480,55.23085021972656 623,302.91412353515625 "/></symbol>
              <symbol id="rect"><rect x="0" y="0" width="677" height="601" fill="white" /></symbol>
              </defs>
            </svg>

          </div>
        </div>
        {% endblock %}

      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async></script>
  </body>
</html>
