{% extends '/layout.html.twig' %}

{% block head %}
<style>
  /* Hide unmatched identities */
  .hidden-side, .hidden-faction, .hidden-format, .hidden-misc {
    display: none;
  }
  /* Overwrite Bootstrap to prevent hidden identities messing up borders */
  .panel-heading + .list-group .identity.list-group-item:first-child {
    border-top-width: 1px;
  }
  #panel-title-filter {
    border-bottom: none;
  }
  /* Vertically align format options*/
  #format-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  /* Identify selected options */
  .active-setting {
    text-decoration: underline;
  }
</style>
<script src="{{ asset('/js/initbuild.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">

<div id="deck-builder" class="row">

<div class="col-sm-8">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" style="display: flex; justify-content: space-between;">
    <b>Choose your identity</b>
    {% set altSide = side == 'Corp' ? 'runner' : 'corp' %}
    <a href="#" id="switch-side" value="{{ altSide }}">Switch to {{ altSide }} deck</a>
  </div>
  <!-- ID filter -->
  <div class="panel-heading">
    <div style="display: flex; flex-wrap: wrap;">
      <div style="flex-grow: 1;" id="format-options">
        <div>Format:
          <a href="#" class="option-format" value="startup">Startup</a> |
          <a href="#" class="option-format" value="standard">Standard</a> |
          <a href="#" class="option-format" value="eternal">Eternal</a> |
          <a href="#" class="option-format" value="draft">Draft</a> |
          <a href="#" class="option-format" value="other">Other</a> |
          <a href="#" class="option-format" value="all">All</a>
        </div>
      </div>
      <div style="flex-grow: 1;" id="faction-options">
        <div id="corp-faction-options" {% if side == "Runner" %}style="display: none;"{% endif %} >
          {% for faction in (corp_factions) %}
            <a href="#" class="option-faction" value="{{ faction.code }}"><svg data-icon-color="{{ faction.code }}" class="typeIcon" aria-label="{{ faction.name }}"><use xlink:href="/images/icons.svg#faction-{{ faction.code }}"></use></svg> {{ faction.name }}</a> |

          {% endfor %}
          <a href="#" class="option-faction" value="neutral-corp">Neutral</a> |
          <a href="#" class="option-faction" value="all">All</a>
        </div>
        <div id="runner-faction-options" {% if side == "Corp" %}style="display: none;"{% endif %}>
          {% for faction in (runner_factions) %}
            <a href="#" class="option-faction" value="{{ faction.code }}"><svg data-icon-color="{{ faction.code }}" class="typeIcon" aria-label="{{ faction.name }}"><use xlink:href="/images/icons.svg#faction-{{ faction.code }}"></use></svg> {{ faction.name }}</a> |
          {% endfor %}
          <a href="#" class="option-faction" value="mini">Mini faction</a> |
          <a href="#" class="option-faction" value="neutral-runner">Neutral</a> |
          <a href="#" class="option-faction" value="all">All</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-heading" id="panel-title-filter">
    <input type="text" class="form-control input-sm" id="title-filter" placeholder="Filter by name" tabindex="1">
  </div>
  <!-- List groups -->
  <div class="list-group">
    {% for identity in identities %}
      {% set banned = identity.code in banned_cards|keys %}
      {% set rotated = identity.pack.cycle.rotated %}
      <a href="{{ path('deck_initbuild', {card_code:identity.code}) }}"
         class="identity list-group-item side-{{ identity.side.code }} faction-{{ identity.faction.code }} pack-{{ identity.pack.code }} {% if rotated %}rotated{% endif %} {% if banned %}banned{% endif %} {% if identity.faction.isMini %}mini-faction{% endif %}"
         data-code="{{ identity.code }}">
        <svg class="typeIcon" aria-label="{{ identity.faction.name }}" data-icon-color="{{ identity.faction.code }}" style="transform:translateY(2px);margin-right:0.5em;"><use xlink:href="/images/icons.svg#faction-{{ identity.faction.code }}"></use></svg>
        <span class="name">{{ identity.title(app.request.locale) }}</span>
        <span class="small">({{ identity.pack.name }})</span>
        <span style="margin-left: 4px;" class="legality-indicator {% if rotated %}legality-rotated{% endif %} {% if banned %}legality-banned{% endif %}"></span>
      </a>
    {% endfor %}
  </div>
</div>
</div>
<div id="initIdentity" class="col-sm-4 hidden-xs">
<img src="#empty" class="img-responsive card-image" id="cardimg" alt="Identity">
</div>

</div>



</div>

{% endblock %}
