{% extends '/layout.html.twig' %}

{% block body %}

<script src="{{ asset('/js/initbuild.js') }}"></script>

<div class="container">

<div class="row">

<div class="col-sm-8">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Choose your identity</b> <span>(🔄  rotated card, 🚫  banned in standard)</span></div>
  <!-- ID filter -->
  <div class="panel-heading">
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        <div id="format-filter">Format |
          <a href="#" id="ids-startup" value="startup">Startup</a> |
          <a href="#" id="ids-standard" value="standard">Standard</a> |
          <a href="#" id="ids-standard" value="eternal">Eternal</a> |
          <a href="#" id="ids-draft" value="draft">Draft</a> |
          <a href="#" id="ids-other" value="other">Other</a> |
          <a href="#" id="ids-all" value="all">All</a>
        </div>
      </div>
      <div>
        <select class="form-control" name="faction_filter" id="faction_filter">
          <option value="all">All factions</option>
          {% for faction in factions %}
          <option value="{{ faction.code }}">
            {{ faction.name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="panel-heading">
    <input type="text" class="form-control input-sm" id="title-filter" placeholder="Filter by name" tabindex="1">
  </div>
  <!-- List group -->
  <div class="list-group">
    {% for identity in identities %}
    <a href="{{ path('deck_initbuild', {card_code:identity.code}) }}"
       class="identity list-group-item faction-{{ identity.faction.code }} pack-{{ identity.pack.code }} {% if identity.pack.cycle.rotated %}rotated{% endif %} {% if identity.code in banned_cards|keys %}banned{% endif %}"
       data-code="{{ identity.code }}">
      <span class="icon icon-{{ identity.faction.code }} {{ identity.faction.code }}"></span>
      <span class="name">{{ identity.title(app.request.locale) }}</span> <span class="small">({{ identity.pack.name }})</span>
      {% if identity.pack.cycle.rotated %}<span>🔄</span>{% endif %}
      {% if identity.code in banned_cards|keys %}<span>🚫</span>{% endif %}
    </a>
    {% endfor %}
  </div>
</div>
</div>
<div id="initIdentity" class="col-sm-4 hidden-xs">
<img src="#empty" class="img-responsive" id="cardimg" alt="Identity">
</div>

</div>



</div>

{% endblock %}
