{% extends '/layout.html.twig' %}

{% block head %}

{% include '/Scripts/nsg_formats.html.twig' %}
<script src="{{ asset('/js/nrdb.settings.js') }}?cachebuster={{ asset_fingerprint }}"></script>
<script src="{{ asset('/js/nrdb.fuzzy_search.js') }}?cachebuster={{ asset_fingerprint }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/string_score/0.1.22/string_score.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/3.0.1/jspdf.umd.min.js"></script>
<script src="{{ asset('/js/pnp.js') }} "></script>
<script type="text/javascript">

var CardDB, CardNames;

Promise.all([NRDB.data.promise, NRDB.ui.promise]).then( () => {
  if (document.querySelector('#pnp-text-area').value.trim() != '') {
    do_import_pnp();
  }
});

</script>

{% endblock %}

{% block body %}

<div class="container">

<div class="row">

  <div class="col-md-4">
    <form role="form">
      <div class="form-group">
        <label for="content">Paste deck here</label>
        <textarea class="form-control" id="pnp-text-area" name="content" rows="10">
        {%- if decklist is not empty -%}
           {{- decklist |trim -}}
        {%- endif -%}
        </textarea>
      </div>
      <button id="btn-import" type="button" class="btn btn-default" disabled="disabled" onclick="do_import_pnp()">Import</button>
    </form>
  </div>

  <div class="col-md-2">
    <form role="form">
      <div class="form-group">
        <label for="">Statistics</label>
        <div id="stats"></div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <label>Settings</label>
    <form id="settings">
      <div class="form-group">
        <label>
          Cut marks
          <select class="form-control" name="pnp-cut-marks" data-persistence>
            <option>None</option>
            <option>Lines</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Page type
          <select class="form-control" name="pnp-page-format" data-persistence>
            <option>Letter</option>
            <option>A4</option>
          </select>
        </label>
      </div>
    </form>
  </div>
</div> <!-- .row -->

<div class="row">
  <div class="col-md-4">
    <button id="btn-print" class="pull-right btn btn-success" disabled="disabled" onclick="do_print()">Print</button>
    <div class="form-group">
      <label for=""></label>
      <ul class="list-group list-group--pnp" id="analyzed"></ul>
    </div>
    <input type="hidden" name="content">
  </div>
  <div class="col-md-8" id="preview-container"></div>
</div> <!-- .row -->

</div> <!-- .container -->


{% endblock %}
