    <ul id="navbar-factions" class="nav nav-pills nav-justified hidden-xs">
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'anarch'}) }}" class="influence-anarch background-anarch-hover">
                <svg class="typeIcon" aria-label="Anarch"><use xlink:href="/images/icons.svg#faction-anarch"></use></svg>
                <span class="hidden-sm">Anarch</span>
            </a>
        </li>
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'criminal'}) }}" class="influence-criminal background-criminal-hover">
                <svg class="typeIcon" aria-label="Criminal"><use xlink:href="/images/icons.svg#faction-criminal"></use></svg>
                <span class="hidden-sm">Criminal</span>
            </a>
        </li>
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'shaper'}) }}" class="influence-shaper background-shaper-hover">
                <svg class="typeIcon" aria-label="Shaper"><use xlink:href="/images/icons.svg#faction-shaper"></use></svg>
                <span class="hidden-sm">Shaper</span>
            </a>
        </li>
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'haas-bioroid'}) }}" class="influence-haas-bioroid background-haas-bioroid-hover">
                <svg class="typeIcon" aria-label="Haas-bioroid"><use xlink:href="/images/icons.svg#faction-haas-bioroid"></use></svg>
                <span class="hidden-sm hidden-md">Haas-Bioroid</span><span class="hidden-sm hidden-lg">HB</span>
            </a>
        </li>
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'jinteki'}) }}" class="influence-jinteki background-jinteki-hover">
                <svg class="typeIcon" aria-label="Jinteki"><use xlink:href="/images/icons.svg#faction-jinteki"></use></svg>
                <span class="hidden-sm">Jinteki</span>
            </a>
        </li>
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'nbn'}) }}" class="influence-nbn background-nbn-hover">
                <svg class="typeIcon" aria-label="NBN"><use xlink:href="/images/icons.svg#faction-nbn"></use></svg>
                <span class="hidden-sm">NBN</span>
            </a>
        </li>
        <li role="presentation">
            <a href="{{ path('faction_page',{faction_code:'weyland-consortium'}) }}" class="influence-weyland-consortium background-weyland-consortium-hover">
                <svg class="typeIcon" aria-label="Weyland Consortium"><use xlink:href="/images/icons.svg#faction-weyland-consortium"></use></svg>
                <span class="hidden-sm">Weyland</span>
            </a>
        </li>
    </ul>
