{% extends '/layout.html.twig' %}

{% block title %}NetrunnerDB Search Syntax{% endblock %}

{% block body %}
<div class="container">

  <h1>{{ block('title') }}</h1>

  <ul>
    <li>a search string is a conjunction of one or more <b>conditions</b> separated by one or more spaces</li>
    <li>a <b>condition</b> is either:
      <ul>
        <li>a <b>word</b> or <b>expression</b> or <b>disjunction</b></li>
        <li>a <b>criteria</b> followed by an <b>operator</b> followed by a <b>word</b> or <b>expression</b> or <b>disjunction</b>
      </ul>
        </li>
        <li>a <b>word</b> must match <code>/[\w\-]/</code>: letters, numbers, dashes</li>
        <li>an <b>expression</b> is any text between <code>"</code> (double quotes)</li>
        <li>a <b>disjunction</b> is several <b>words</b> or <b>expressions</b> separated by <code>|</code></li>
        <li>a <b>criteria</b> is a single letter:
          <ul>
            <li><code>_</code> &ndash; title</li>
            <li><code>x</code> &ndash; text</li>
            <li><code>a</code> &ndash; flavor text</li>
            <li><code>e</code> &ndash; set</li>
            <li><code>c</code> &ndash; cycle</li>
            <li><code>t</code> &ndash; type</li>
            <li><code>f</code> &ndash; faction</li>
            <li><code>s</code> &ndash; subtype</li>
            <li><code>d</code> &ndash; side</li>
            <li><code>i</code> &ndash; illustrator</li>
            <li><code>o</code> &ndash; cost</li>
            <li><code>g</code> &ndash; advancement cost</li>
            <li><code>l</code> &ndash; base link</li>
            <li><code>m</code> &ndash; memory usage</li>
            <li><code>n</code> &ndash; influence (faction cost)</li>
            <li><code>p</code> &ndash; strength</li>
            <li><code>v</code> &ndash; agenda points</li>
            <li><code>h</code> &ndash; trash cost</li>
            <li><code>r</code> &ndash; release date</li>
            <li><code>u</code> &ndash; unique</li>
            <li><code>b</code> &ndash; ban list</li>
            <li><code>z</code> &ndash; rotation</li>
          </ul>
        </li>
        <li>an <b>operator</b> is either:
          <ul>
            <li><code>:</code> &ndash; equals</li>
            <li><code>!</code> &ndash; different from</li>
            <li><code>&lt;</code> &ndash; less than</li>
            <li><code>&gt;</code> &ndash; more than</li>
          </ul>
        </li>
        <li><b>Title</b> - If you enter text with no criteria, it will attempt to match against card titles (e.g. <code>mca</code> will match MCA Austerity Policy and MCA Informant). The only exceptions are:
          <ul>
            <li>Two-or more letters in all capitals will attempt to match cards by acronym (e.g. <code>BLC</code> will match Blue Level Clearance and Black Level Clearance)</li>
            <li>Writing the ID number of a card will match that card specifically (e.g. <code>20073</code> will match Green Level Clearance)</li>
            <li>Some cards have aliases that will match them (e.g. <code>clippy</code> will match Paperclip)
          </ul>
        </li>
        <li><b>Faction</b> <code>f</code> accepts full faction codes (e.g. nbn, haas-bioroid, weyland-consortium, sunny-lebeau, etc) or the following shortcuts:
          <ul>
            <li>The first letter of each non-neutral, non-mini faction</li>
            <li>The second letter, or first two letters, of mini-factions (e.g. <code>p</code> or <code>ap</code> for Apex)
            <li><code>mini</code> for all mini-factions</li>
            <li><code>nc</code> for <code>neutral-corp</code></li>
            <li><code>nr</code> for <code>neutral-runner</code></li>
            <li><code>-</code> or <code>neutral</code> for both neutral factions</li>
            <li><code>weyland</code> for <code>weyland-consortium</code></li>
            <li><code>hb</code> for <code>haas-bioroid</code></li>
          </ul>
        </li>
        <li><b>Release Date</b> <code>r</code> is a special case using only the operators <code>&lt;</code> (inclusive) and <code>&gt;</code> (exclusive) and only understands the arguments <code>now</code> or a date YYYY-MM-DD</li>
        <li><b>Ban List</b> <code>b</code> will exclude any cards banned by that ban list. Ban List has 2 different special options in addition to specific Ban Lists: <code>active</code> or <code>latest</code>. These two only differ when there is a yet-to-be-active Ban List. Ban List can also specify a specific Ban List. Valid Ban List options are:
          <ul>
          {% set latest_found = false %}
          {% for banlist in banlists %}
            <li><code>{{ banlist.code }}</code>{% if banlist.active %} (active){% endif %}{% if latest_found == false %} (latest){% set latest_found = true %}{% endif %}</li>
          {% endfor %}
          </ul>
        </li>
        <li><b>Rotation</b> <code>z</code> will restrict results to cards legal for that rotation. Rotation has several different special options in addition to specific rotations: <code>current</code>, <code>latest</code>, <code>standard</code>, and <code>startup</code>. <code>current</code> and <code>latest</code> only differ when there is a yet-to-be-active rotation. <code>standard</code> is an alias for <code>current</code>. Rotation can also specify a specific rotation. Valid specific rotation options are:
          <ul>
          {% set active_found = false %}
          {% set latest_found = false %}
          {% set today = "now"|date("Y-m-d") %}
          {% for rotation in rotations %}
            <li><code>{{ rotation.code }}</code>{% if (active_found == false) and (today >= rotation.getDateStart|date("Y-m-d")) %} (current){% set active_found = true %}{% endif %}{% if latest_found == false %} (latest){% set latest_found = true %}{% endif %}</li>
          {% endfor %}
          </ul>
        </li>
        <li><b>Set</b> <code>e</code> will match the set codes from each set:
        <div class="container">
        {% for col in packs|batch(packs|length / 2) %}
          <div class="col-sm-6">
            <ul>
              {% for pack in col %}
              <li><code>{{ pack.code }}</code> &ndash; {{ pack.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        </div>
        </li>
  </ul>

  <h2>Search examples</h2>

  <ul>
    <li><code>test</code> or <code>_:test</code> searches for cards "test" in their title</li>
    <li><code>BLC</code> searches for cards with the acronym "BLC"</li>
    <li><code>_:a _!b</code> searches for cards with "a" in their title but not "b"</li>
    <li><code>t:asset</code> searches for all Assets</li>
    <li><code>t:asset s:ambush</code> searches for every Asset that has the subtype Ambush</li>
    <li><code>x:"make a run"</code> searches for all cards with the text "make a run"</li>
    <li><code>t:asset|upgrade f:n</code> searches for all NBN cards that are Assets or Upgrades</li>
    <li><code>f:a|s n&lt;3</code> searches for all Anarch or Shaper cards with a faction cost less than 3</li>
    <li><code>t:ice s!barrier|sentry|"code gate"</code> searches for all ICE that are neither barrier, code gate nor sentry</li>
    <li><code>r&lt;2013-01-01</code> searches for all cards released up to Jan 1, 2013</li>
    <li><code>d:r|c</code> searches for all Runner or Corp cards</li>
    <li><code>x:&#34;the Corp loses 1 credit&#34;</code> returns Amina, Corporate &#34;Grant&#34;, and Lamprey</li>
    <li><code>d:corp z:current</code> returns all Corp cards in the cycles valid for the latest rotation</li>
  </ul>

  <h2>Card aliases</h2>

  <p>The following are shortcuts you can use instead of cards' names.</p>

  <ul>
  {% for card, alias_list in aliases %}
    <li>{{ card }} : {% for alias in alias_list %}<code>{{ alias }}</code> {% endfor %}</li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
