{% extends '/layout.html.twig' %}

{% block body %}

<div class="container">

{% include '/Default/navbar-factions.html.twig' %}

<div class="page-header">
  <span>🔄: rotated card 🚫: banned card</span>
</div>
{% for result in results %}
{% set faction = result.faction %}
{% set decklists = result.decklists %}
<div class="page-header influence-{{ faction.code }}">
  <h1>
  <span class="icon icon-{{ faction.code }}"></span>
  {{ faction.name }}
  </h1>
</div>
<div class="row">
  <div class="col-md-12">

{% for item in decklists %}
<h2>{{ item['identity'].title }}
    {% if item['identity'].pack.cycle.rotated %}<span>🔄</span>{% endif %}
    {% if item['identity'].code in banned_cards|keys %}<span>🚫</span>{% endif %}
</h2>
<div class="row">
<div class="col-md-3">
<a href="{{ path('cards_zoom',{_locale:app.request.locale,card_code:item['identity'].code}) }}" class="no-popup"><img data-src="{{ asset('/card_image/'~item['identity'].largeImagePath) }}" class="img-responsive lazyload"></a>
</div>
<div class="col-md-9">
<table class="table table-condensed">
{% for decklist in item['decklists'] %}
  <tr>
  <td>
      <article>
    <h4>
      <small class="pull-right social">
        <span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
        <span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
        <span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
      </small>
      <a class="decklist-name" href="{{ path('decklist_view', { 'decklist_uuid': decklist.uuid, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
    </h4>
    <h5>
      <time class="pull-right" datetime="{{ decklist.dateCreation|date('c') }}">{{ decklist.dateCreation|date('j M Y') }}</time>
      <i>{{ decklist.lastPack.name }}</i>
      {% if decklist.tournament %}
      <span class="text-success" style="margin-left:1em">
       <span class="glyphicon glyphicon-certificate"></span> {{ decklist.tournament.description }}
      </span>
      {% endif %}
    </h5>
    </article>
    </td>
  </tr>
{% endfor %}
</table>
<a  class="btn btn-default btn-xs" href="{{ path('decklists_list',{type:'find',_locale:app.request.locale,'cards[]':item['identity'].code,'sort':'popularity'}) }}">Show more <span class="glyphicon glyphicon-menu-right"></span></a>
</div>
</div>

{% endfor %}
    </div>
</div>
{% endfor %}
</div>

{% endblock %}
