{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block body -%}
<div class="container">

<h1><img src="{{ asset('/bundles/netrunnerdbbuilder/images/flags/32px/flag_' ~ localeCode ~ '.png') }}"> Translation Overview</h1>

<ol class="breadcrumb">
  <li><a href="{{ path('translation_index') }}">Translation Home</a></li>
  <li class="active">{{ localeCode|upper }}</li>
</ol>

{% for entityName, translationRatio in entityTranslationRatioList %}
<div class="row" style="margin-bottom:20px">
	<div class="col-xs-2">
		{{ entityName }}
	</div>
	<div class="col-xs-6">
		<div class="progress" style="margin-bottom:0">
			<div class="progress-bar" role="progressbar" style="min-width: 2em; width: {{ translationRatio }}%;">
				{{ translationRatio }}%
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<a href="{{ path('translation_entity_index',{localeCode:localeCode,entityName:entityName}) }}">Translate<span class="hidden-xs"> {{ entityName }} records</span></a>
	</div>
</div>
{% endfor %}

</div>
{% endblock %}
