<tr>
  <td style="width:67px">
    <img data-src="{{ card_image_url }}{{ asset('/tiny/'~decklist.code~'.jpg') }}" alt="{{ decklist.identity }}" style="width:51px;height:71px" class="lazyload card-image">
  </td>
  <td>
    <div>
      <a href="{{ path('decklist_view', { 'decklist_uuid': decklist.uuid, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
    </div>
    <div class="small">
      <i>{{ decklist.lastpack }}</i>
    </div>
    <div class="small">
      <div>
          <a href="{{ path('user_profile_view', {user_id:decklist.user_id,user_name:decklist.username|e('url')}) }}" class="{{ decklist.usercolor }}">{{ decklist.username }}</a>
          {% if decklist.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
          <small class="reputation">{{ decklist.reputation }}</small>
      </div>
      <div>
        {% if decklist.tournament %}
        <span class="text-success">
                <span class="glyphicon glyphicon-certificate"></span> {{ decklist.tournament }}
            </span>
          {% endif %}
      </div>
    </div>
  </td>
</tr>
