<div style="border-top: 1px solid #ddd;margin-bottom: 10px;padding-top: 10px;">
  <div class="visible-xs-block">
    <a href="{{ path('decklist_view', { 'decklist_uuid': decklist.uuid, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
  </div>
  <div class="media" style="margin-top:0">
    <div class="media-left">
      <img data-src="{{ asset('/card_image/tiny/'~decklist.code~'.jpg') }}" alt="{{ decklist.identity }}" style="width:51px;height:71px" class="lazyload">
    </div>
    <div class="media-body">
      <div class="row h4 hidden-xs">
        <div class="col-sm-9">
          <a href="{{ path('decklist_view', { 'decklist_uuid': decklist.uuid, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
        </div>
        <div class="col-sm-3 small social">
          <span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
          <span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
          <span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
        </div>
      </div>
      <div class="row h5">
        <div class="col-sm-5">
          <span class="glyphicon glyphicon-user {{ decklist.usercolor }}"></span>
            <a href="{{ path('user_profile_view', {user_id:decklist.user_id,user_name:decklist.username|e('url')}) }}" class="{{ decklist.usercolor }}">{{ decklist.username }}</a>
            {% if decklist.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
            <small class="reputation">{{ decklist.reputation }}</small>
        </div>
        <div class="visible-xs-block">
          <div class="col-sm-3 social">
            <span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
            <span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
            <span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
          </div>
        </div>
        <div class="col-sm-4">{% if decklist.tournament %}
          <span class="text-success">
                  <span class="glyphicon glyphicon-certificate"></span> {{ decklist.tournament }}
              </span>{% endif %}{% if decklist.rotation %}
          <span class="text-info">
                  <span class="glyphicon glyphicon-repeat"></span> {{ decklist.rotation }}
              </span>
        {% endif %}</div>
        <div class="col-sm-3 hidden-xs">
          <span class="glyphicon glyphicon-calendar"></span>
          <time datetime="{{ decklist.date_creation|date('c') }}">{{ decklist.date_creation|date('j M Y') }}</time>
        </div>
      </div>
    </div>
  </div>
</div>
