{% extends '/layout.html.twig' %}

{% block title %}Advanced Search{% endblock %}

{% block body %}
<div class="container">

    <script type="text/javascript">
        Promise.all([NRDB.data.promise, NRDB.ui.promise]).then(function() {
            // TODO(plural): Find a better place for this and remove the duplicate definitions.
            // This will filter matchingCards to only the latest version of each card, preserving the original order of matchingCards.
            function select_only_latest_cards(matchingCards) {
                var latestCardsByTitle = {};
                for (var card of matchingCards) {
                    var latestCard = latestCardsByTitle[card.title];
                    if (!latestCard || card.code > latestCard.code) {
                        latestCardsByTitle[card.title] = card;
                    }
                }
                return matchingCards.filter(function(value, index, arr) {
                    return value.code == latestCardsByTitle[value.title].code;
                });
            }

            // We only need to calculate the latest_cards once and not on every findMatches call.
            var latest_cards = select_only_latest_cards(NRDB.data.cards.find());

            function findMatches(q, cb) {
                if (q.match(/^\w:/)) { return; }

                var regexp = new RegExp(q, 'i');
                var matchingCards = _.filter(latest_cards, function (card) {
                    return regexp.test(_.deburr(card.title).toLowerCase().trim());
                });
                cb(_.sortBy(matchingCards, 'title'));
            }

            $('#q').typeahead({
                hint: true,
                highlight: true,
                minLength: 2
            }, {
                display: function(card) { return card.title; },
                source: findMatches
            });
        });

        $(function () {
            $('#faction-select').multiselect({
                buttonWidth: '100%'
            });
        })
    </script>

    <div class="row">

        <div class="col">

            <h1>{{ block('title') }}</h1>
            <form id="advanced_search_form" method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

                <fieldset>
                    <legend>Title and texts</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="q">Title</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="Card Search" size="200" id="q" name="q" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="x">Text</label>
                                <div>
                                    <input class="form-control" size="40" id="x" name="x" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="a">Flavor Text</label>
                                <div>
                                    <input class="form-control" size="30" id="a" name="a" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Faction and side</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Side</label>
                                <select class="form-control" name="d">
                                    <option value="">Either</option>
                                    <option value="c">Corp</option>
                                    <option value="r">Runner</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Faction</label>
                                <select name="f[]" id="faction-select" multiple="multiple" class="hidden">
                                    <optgroup label="Runner">
                                        <option value="anarch">Anarch</option>
                                        <option value="criminal">Criminal</option>
                                        <option value="shaper">Shaper</option>
                                        <option value="adam">Adam</option>
                                        <option value="apex">Apex</option>
                                        <option value="sunny-lebeau">Sunny Lebeau</option>
                                        <option value="neutral-runner">Neutral</option>
                                    </optgroup>
                                    <optgroup label="Corp">
                                        <option value="haas-bioroid">Haas-Bioroid</option>
                                        <option value="jinteki">Jinteki</option>
                                        <option value="nbn">NBN</option>
                                        <option value="weyland-consortium">Weyland Consortium</option>
                                        <option value="neutral-corp">Neutral</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Attributes</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="e">Set</label>
                                <div>
                                    <select class="form-control" name="e" id="e"><option value="">any</option>{% for pack in packs %}<option value="{{ pack.code }}">{{ pack.name }}</option>{% endfor %}</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="t">Type</label>
                                <div>
                                    <select class="form-control" name="t" id="t"><option value="">any</option>{% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="u">Unique</label>
                                <div>
                                    <select class="form-control" name="u" id="u">
                                        <option value="">any</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="s">Subtype</label>
                                <div>
                                    <select class="form-control" name="s" id="s"><option value="">any</option>{% for keyword in keywords %}<option value="{{ keyword }}">{{ keyword }}</option>{% endfor %}</select>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Numerics</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="o">Cost</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                                    </div>
                                    <div class="col-xs-8">
                                        <input id="o" name="o" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="n">Influence</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select name="no" id="no" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                                    </div>
                                    <div class="col-xs-8">
                                        <input id="n" name="n" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="p">Strength</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select name="po" id="po" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                                    </div>
                                    <div class="col-xs-8">
                                        <input id="p" name="p" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="y">Quantity</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select name="yo" id="yo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                                    </div>
                                    <div class="col-xs-8">
                                        <input id="y" name="y" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Other</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Previews</label>
                                <select class="form-control" name="r">
                                    <option value="">Yes</option>
                                    <option value="<now">No</option>
                                    <option value=">now">Only</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="i">Illustrator</label>
                                <div>
                                    <select class="form-control" name="i" id="i"><option value="">any</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Submit</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {% include '/Search/searchoptions.html.twig' %}
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            {% include '/Default/google_adaptable_ad.html.twig' %}

        </div>

    </div>

</div>
{% endblock %}
