{% extends '/Search/display.html.twig' %}

{% block head %}
    <script src="{{ asset('/js/zoom.js') }}?cachebuster={{ asset_fingerprint }}"></script>
    <script type="text/javascript">
        NRDB.user.params.card_id = {{ cards[0].id|json_encode|raw }};
    </script>
{% endblock %}

{% block main %}
{% include '/Scripts/api.html.twig' %}
<script type="text/javascript">
    function set_primary_button(button) {
        // Set all buttons to secondary.
        document.querySelectorAll('.card-image-flippable-buttons button').forEach(_button => {
            _button.classList.remove('btn-primary');
            _button.classList.add('btn-secondary');
        });
        // Set the clicked button to primary.
        button.classList.add('btn-primary');
        button.classList.remove('btn-secondary');
    }

    function change_narrative_switchable() {
        const buttonContainer = document.querySelector('.card-image-flippable-buttons');
        document.querySelectorAll('.card-image-container').forEach(container => {
            // Move button container to the other image container.
            if (container.classList.contains('card-image-container--visible')) {
                container.classList.remove('card-image-container--visible');
            } else {
                container.classList.add('card-image-container--visible');
                container.append(buttonContainer);
            }
        });
        // Switch narrative container.
        document.querySelectorAll('.narrative-switchable').forEach(switchable => {
            if(switchable.style.display === "none") {
                switchable.style.display = "block";
            } else {
                switchable.style.display = "none";
            }
        });
    }

    async function fetchAndDisplayPrintingsPronounsAndPronunciation() {
        const [printing, card_sets] = await Promise.all(
            [
                // Get the printing including the card data for this printing.
                fetchFullDataResponse(`${v3_api_url}/api/v3/public/printings/{{ card.code }}?include=card`),
                // Fetch the card sets and cycles to build the previous printings display with set names and cycle icons.
                fetchFullDataResponse(`${v3_api_url}/api/v3/public/card_sets?include=card_cycle`)
            ]
        );

        // Make a list of face buttons for cards with more than 1 face.
        const cardImageFlippable = document.querySelector('.card-image-flippable');
        const buttonContainer = document.querySelector('.card-image-flippable-buttons');
        const narrative_image = printing.data.attributes.images.nrdb_classic.narrative;

        if (printing.data.attributes.num_extra_faces > 0 ||
            narrative_image != null) {
            // Create a button for each face (including front when there is narrative
            // but no extra faces).
            for (let i = 0; i <= printing.data.attributes.num_extra_faces; i++) {
                const button = document.createElement('button');
                button.classList.add('btn');
                button.classList.add(i == 0 ? 'btn-primary' : 'btn-secondary');
                buttonContainer.appendChild(button);

                let buttonText = '';
                if (i == 0) {
                    buttonText = 'Front';
                } else if (printing.data.attributes.num_extra_faces == 1) {
                    buttonText = 'Back';
                } else {
                    buttonText = `Face ${i + 1}`;
                }
                button.innerHTML = buttonText;
                button.dataset.face = i;
                // Use the main image for the first button and the face image for i - 1 (because we are combining the front face with the faces array)
                let buttonImg = i == 0 ? printing.data.attributes.images.nrdb_classic.large : printing.data.attributes.faces[i-1].images.nrdb_classic.large;
                button.dataset.img = buttonImg;

                button.addEventListener("click", function(e) {
                    const button = e.target;
                    if (button.classList.contains('btn-primary')) {
                        return;
                    }

                    set_primary_button(button);

                    if (printing.data.attributes.num_extra_faces > 0) {
                        const frontCurrentlyVisible = !document.querySelector(".card-image-flippable").classList.contains("flipped");
                        const cardImgElement = frontCurrentlyVisible ? 'alternate_card_img' : 'current_card_img';
                        document.getElementById(cardImgElement).src = button.dataset.img;

                        // Time to flip now that things are all set up!
                        document.querySelector(".card-image-flippable").classList.toggle("flipped");
                    }
                    // Switch back if we're currently on narrative view.
                    if (narrative_image
                        && document.querySelector("#card-image-container--narrative")
                                   .classList.contains("card-image-container--visible")) {
                        change_narrative_switchable();
                    }
                });
            }
        }


        if (narrative_image) {
            // Narrative switcher button
            const narrativeButton = document.querySelector('#narrative-switch-button');
            document.querySelector('#card-image-narrative').src = narrative_image;
            document.querySelector('#narrative-text').innerHTML = printing.data.attributes.narrative_text;
            narrativeButton.addEventListener("click", e => {
                const button = e.target;
                if (button.classList.contains('btn-primary')) {
                    return;
                }

                set_primary_button(button);
                change_narrative_switchable();
            });
            narrativeButton.style.display = "block";  // Unhide button
            buttonContainer.append(narrativeButton);
        }

        if (printing.data.attributes.pronouns) {
            $(".card-pronouns").each((_, p) => {
                p.innerHTML = `Pronouns: ${printing.data.attributes.pronouns}`
            });
        }
        const card = printing.included[0];
        if (card.attributes.pronunciation_approximation && card.attributes.pronunciation_ipa) {
            $(".card-pronunciation").append(
                `<div class="card-pronunciation-break"></div>Pronunciation: ${card.attributes.pronunciation_ipa}<br>(${card.attributes.pronunciation_approximation})`
            );
        }

        const cardSetIdToName = new Map();
        const cardSetNameToLegacyCode = new Map();
        const cardSetIdToCycleId = new Map();
        card_sets.data.forEach((c) => {
            cardSetIdToName[c.id] = c.attributes.name;
            cardSetNameToLegacyCode[c.attributes.name] = c.attributes.legacy_code;
            cardSetIdToCycleId[c.id] = c.attributes.card_cycle_id;
        });
        const printingIdToCardSetId = new Map();
        for (i = 0; i < printing.data.attributes.printing_ids.length; i++) {
            printingIdToCardSetId[printing.data.attributes.printing_ids[i]] = printing.data.attributes.card_set_ids[i];
        }

        const cardCycleIdToLegacyCode = new Map();
        card_sets.included.forEach((c) => {
            cardCycleIdToLegacyCode[c.id] = c.attributes.legacy_code;
        });

        const printingVersionList = $('#printing_version_list');
        printing.data.attributes.printing_ids.forEach((printing_id) => {
            printingVersionList.append(`
                <tr>
                    <td>
                        <a href="${Routing.generate('cards_zoom', {_locale: NRDB.locale, 'card_code': printing_id})}">
                            <span class="icon icon-${cardCycleIdToLegacyCode[cardSetIdToCycleId[printingIdToCardSetId[printing_id]]]}"></span> ${cardSetIdToName[printingIdToCardSetId[printing_id]]}
                        </a>
                    </td>
                </tr>
            `);
        });
    }
    fetchAndDisplayPrintingsPronounsAndPronunciation();
</script>

<div class="row narrative-switchable">
    <div class="col-sm-4">
        <div class="card-image card-image-container card-image-container--visible">
            {% if card.imageUrl %}
                <div class="card-image-flippable">
                    <div class="card-image card-image-flippable__front">
                        <img id="current_card_img" data-src="{{ card_image_url }}{{ asset(card.large_image_path) }}" alt="{{ card.title }}" class="img-responsive lazyload card-image" style="margin:auto">
                    </div>
                    <div class="card-image card-image-flippable__back">
                        <img id="alternate_card_img" src="" class="img-responsive">
                    </div>
                </div>
                <div class="card-image-flippable-buttons">
                    <button class="btn btn-secondary" id="narrative-switch-button" style="display:none">Narrative</button>
                </div>
            {% else %}
                <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
            {% endif %}
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-title" style="display: flex; justify-content: space-between">
                    <span class="card-title{% if card.available == false %} card-preview{% endif %}">
                        {% if card.uniqueness == true %}&diams;{% endif %}
                        {{ card.title }}
                    </span>
                    <span class="card-cost">
                        {% if card.type_code == "agenda" %}
                            {{ card.advancementcost }}/{{ card.agendapoints }}<span class="icon icon-agenda-points"></span>
                        {% endif %}
                        {% if card.type_code != "identity" and card.type_code != "agenda" %}
                            <abbr title="{{ card.cost }} Credit{{ card.cost != 1 ? 's' : '' }}">{{ card.formatted_cost|raw }}</abbr>
                        {% endif %}
                    </span>
                </h3>
            </div>

            <div class="panel-body card-panel">
                <div class="card-type">
                    {{ card.formatted_type|raw }}
                </div>

                <div class="card-stats">
                    {% if card.type_code == "identity" %}
                        Deck size: {{ card.minimumdecksize }}
                        &bull;
                        Influence:
                        {% if card.influencelimit ?? 0 == 0 %}&#8734;{% else %}{{ card.influencelimit }}{% endif %}
                        {% if card.side_code == "runner" %}
                            &bull;
                            Link: {{ card.baselink }}
                        {% endif %}
                    {% elseif card.type_code in ["event", "operation"] %}
                        {% if card.trash is not null %}
                            Trash: {{ card.trash }}
                        {% endif %}
                    {% elseif card.type_code in ["asset", "upgrade"] %}
                        Trash: {{ card.trash }}
                    {% elseif card.type_code == "program" %}
                        Memory: {{ card.memoryunits }}
                        &bull;
                        Strength: {{ card.strength ?? "-" }}
                    {% elseif card.type_code == "ice" %}
                        Strength: {{ card.strength }}
                        {% if card.trash is not null %}
                            &bull;
                            Trash: {{ card.trash }}
                        {% endif %}
                    {% endif %}
                    <p class="card-pronouns"></p>
                </div>

                {% if card.type_code != "identity" and card.faction_cost_dots|length > 0 %}
                    <div class="card-influence">
                        Influence:
                        <svg class="typeIcon" aria-label="{{ card.faction_name }}" data-icon-color="{{ card.faction_code }}"><use xlink:href="/images/icons.svg#faction-{{ card.faction_code }}"></use></svg>
                        {# Singular line, as it creates whitespace otherwise #}
                        <span aria-label="{{ card.factioncost }} Influence" style="font-size: 0px;">{{ card.factioncost }}</span><span aria-hidden="true" style="user-select: none;">{{ card.faction_cost_dots|raw }}</span>
                    </div>
                {% endif %}

                {% if card.text|length > 0 %}
                    <div class="card-text border-{{ card.faction_code }}">
                        {{ card.text|raw }}
                    </div>
                {% endif %}

                {% if card.flavor|length > 0 %}
                    <div class="card-flavor">
                        {% if card.code == "33084" %}
                            {{ card.flavor|raw|escape|nl2br }}
                        {% elseif card.flavor %}
                            {{ card.flavor|raw|nl2br }}
                        {% endif %}
                    </div>
                {% endif %}

                {% if card.illustrator %}
                    <div class="card-illustrator">
                        <small>
                            Illustrated by {{
                                card.illustrators |
                                map(i => "<a href=\"#{ path('cards_find',{type:'find',_locale:app.request.locale,'view':'images','q':'i:"' ~ i ~ '"'}) }\">#{i}</a>") |
                                join(', ') |
                                raw
                            }}
                        </small>
                    </div>
                {% endif %}

                <div class="card-pronunciation">

                </div>
            </div>
        </div>
        <a href="{{ path('decklists_list', {type:'find',_locale:app.request.locale, 'cards[]':card.code}) }}">Decklists with this card</a>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="icon icon-{{ card.cycle_code }}"></span> {{ card.pack_name}} ({{ card.pack_code }})
                </h3>
                #{{ card.position }} &bull;
                <a href="{{ path('cards_zoom',{_locale:app.request.locale, 'card_code':card.code}) }}"> English </a>
            </div>

            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <th class="legality-{{ card.startup_legality }}"> Startup Card Pool</th>
                        </tr>
                        <tr>
                            <th
                                {% for mwl_info in card.mwl_info %}
                                  {% if mwl_info.active %}
                                    {% if card.standard_legality == 'available' %}
                                      class="legality-{{ mwl_info.legality }}"
                                    {% else %}
                                      class="legality-{{ card.standard_legality }}"
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            > Standard Card Pool</th>
                            <a id="mwl-history" href="">(show history)</a>
                        </tr>
                        <tr>
                            <th
                                  {% for mwl_info in card.mwl_info %}
                                    {% if mwl_info.active %}
                                      class="legality-{{ mwl_info.legality }}"
                                    {% endif %}
                                  {% endfor %}> Eternal Card Pool
                                  
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="card-mwl-inactive" style="display:none; height: 10px;"></tr>
                        {% for mwl_info in card.mwl_info %}
                        <tr class="card-mwl-inactive" style="display:none">
                            <td class="legality-{{ mwl_info.legality }}">
                                {{ mwl_info.mwl_name }}{% if mwl_info.active %} (active) {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <span>Printings</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="printing_version_list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row narrative-switchable" style="display:none">
    <div class="col-sm-6">
        <div class="card-image card-image-container" id="card-image-container--narrative">
                <div class="card-image" id="card-image-narrative-back">
                  <img id="card-image-narrative" alt="{{ card.title }} narrative back" class="img-responsive card-image" style="margin:auto;width:100%">
                </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title card-title" style="display: flex; justify-content: space-between">
                    <span class="card-title">
                        {{ card.title }}
                    </span>
                </h3>
            </div>

            <div class="panel-body card-panel">
                <p class="card-pronouns"></p>
                <div class="card-text border-{{ card.faction_code }}">
                  <p id="narrative-text"></p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 rulings" data-card-id="{{ card.id }}" style="margin-top:2em">
        <div style="line-height:34px" class="rulings-header">
            <span style="font-size:24px">Rulings</span>
        </div>
        {% if card.rulings|length %}
        <ul class="rulings-list">
            {% for ruling in card.rulings %}
            <li data-ruling-id="{{ ruling.id }}" data-ruling-text="{{ ruling.rawtext }}" data-ruling-nsg-rules-team-verified="{{ ruling.nsg_rules_team_verified ? 'true' : 'false'}}" class="{% if ruling.nsg_rules_team_verified %}legality-verified{% else %}legality-unverified{% endif %}">
                <em>Updated {{ ruling.date_update | date("Y-m-d") }}</em>
                {{ ruling.text | raw }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p><i>No rulings yet for this card.</i></p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:2em">
        <div style="line-height:34px" class="reviews-header">
            <span style="font-size:24px">Reviews</span>
        </div>
        <form method="POST" action="{{ path('card_review_post') }}" style="clear:right" class="review-edit-form">
            <input type="hidden" name="card_id" value="{{ card.id }}">
            <input type="hidden" name="review_id" value="">
        </form>
        {% if card.reviews|length %}
        {% for review in card.reviews %}
        <article class="review" data-index="{{ review.id }}" id="review-{{ review.id }}">

            <div class="review-like">
                <a href="#" class="review-social-icon-like social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
                    <span class="glyphicon glyphicon-heart"></span> <span class="num">{{ review.nbvotes }}</span>
                </a>
            </div>
            <div class="review-content">
                <div class="review-text">
                    {{ review.text|raw }}
                </div>
                <div class="review-date">
                    <time datetime="{{ review.date_creation|date('c') }}">{{ review.date_creation|date('j M Y') }}</time>
                </div>
                <div class="review-latestpack">
                    (<i>{{ review.latestpack }}</i> era)
                </div>
                <div class="review-author">
                    <a href="{{ path('user_profile_view', {user_id:review.author_id,user_name:review.author_name|e('url')}) }}" rel="author" class="username {{ review.author_color }}">{{ review.author_name }}</a>
                    {% if review.author_donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
                    <small class="reputation">{{ review.author_reputation }}</small>
                </div>

                {% if review.comments|length %}

                {% for comment in review.comments %}
                <div class="review-comment text-muted small">{{ comment.text|raw }}
                    &mdash;
                    <a title="{{ comment.author.reputation }} reputation" href="{{ path('user_profile_view', {user_id:comment.author.id,user_name:comment.author.username|e('url')}) }}" rel="author" class="username {{ comment.author.faction }}">{{ comment.author.username }}</a>
                    {% if comment.author.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
                    <time datetime="{{ comment.dateCreation|date('c') }}">{{ comment.dateCreation|date('j M Y') }}</time>
                </div>
                {% endfor %}

                {% endif %}
                {% if comments_enabled %}
                  <form action="{{ path('card_reviewcomment_post') }}" method="POST" class="form-comment">
                      <input type="hidden" name="comment_review_id" value="{{ review.id }}">
                      <button class="btn btn-link btn-write-comment">Add a comment</button>
                  </form>
                {% endif %}
            </div>
        </article>
        {% endfor %}
        {% else %}
        <p><i>No reviews yet for this card.</i></p>
        {% endif %}
    </div>
</div>

    <!-- Modal -->
    <div class="modal hidden-print" id="addRulingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Add a ruling</h3>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" action="{{ path('card_ruling_post') }}" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" id="add-ruling-card-id" name="card_id">
                                    <textarea class="form-control" id="add-ruling-form-text" name="text"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="well text-muted" id="add-ruling-form-preview"><small>Preview.</small></div>
                            </div>
                            <div class="col-sm-12">
                                <input type="checkbox" id="nsg_rules_team_verified" name="nsg_rules_team_verified" value="true"> <label for="nsg_rules_team_verified">NSG Rules Team Verified Ruling?</label>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal hidden-print" id="editRulingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Edit a ruling</h3>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" action="{{ path('card_ruling_edit') }}" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" id="edit-ruling-card-id" name="card_id">
                                    <input type="hidden" id="edit-ruling-id" name="ruling_id">
                                    <textarea class="form-control" id="edit-ruling-form-text" name="text"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="well text-muted" id="edit-ruling-form-preview"><small>Preview.</small></div>
                            </div>
                            <div class="col-sm-12">
                                <input type="checkbox" id="edit-ruling-nsg-rules-team-verified" name="nsg_rules_team_verified" value="true"> <label for="edit-ruling-nsg-rules-team-verified">NSG Rules Team Verified Ruling?</label>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal hidden-print" id="deleteRulingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Delete a ruling</h3>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" action="{{ path('card_ruling_delete') }}" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" id="delete-ruling-id" name="ruling_id">
                                    <label>Confirm deletion?</label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
{% endblock %}
