{% set sort_options = {
	'name': 'Name',
	'set': 'Set Name',
	'release-date': 'Release Date',
	'faction': 'Faction',
	'type': 'Type',
	'cost': 'Cost',
	'strength': 'Strength',
} %}
<div class="col-sm-4" style="margin-bottom:.5em">
	<select name="sort" class="form-control">
		{% for key, value in sort_options|cast_to_array %}
			<option value={{key}} {% if sort == key %}selected{% endif %}>
			Sort by {{value}}
			</option>
		{% endfor %}
	</select>
</div>

{% set view_options = {
	'list': 'a Checklist',
	'text': 'a Spoiler',
	'full': 'Full Cards',
	'images': 'Images only',
	'short': 'Names only',
} %}
<div class="col-sm-4" style="margin-bottom:.5em">
	<select name="view" class="form-control">
		{% for key, value in view_options|cast_to_array %}
			<option value={{key}} {% if view == key %}selected{% endif %}>
			View as {{value}}
			</option>
		{% endfor %}
	</select>
</div>

<div>
	<input name="_locale" type="hidden" value="{{ app.request.locale }}">
</div>
